
{% load static i18n %}

    {% load django_htmx %}
    {% load render_bundle from webpack_loader %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
      Colin McFaul
    {% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
        content="A website for Colin McFaul and some development tools" />
  <meta name="author"
        content="Colin McFaul" />
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
  {% block css %}
<!-- Your stuff: Third-party CSS libraries go here -->
<!-- This file stores project-specific CSS -->
  <link href="{% static 'css/project.css' %}" rel="stylesheet" />
  {% if WEBPACK_ENABLED %}
  {% render_bundle 'vendors' 'css' %}
  {% render_bundle 'main' 'css' %}
  {% else %}
    <link href="{% static 'vendors.css' %}" rel="stylesheet" />
    <link href="{% static 'main.css' %}" rel="stylesheet" />
  {% endif %}

{% endblock css %}
  {% block extra_css %}{% endblock extra_css %}
</head>

  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

  <div class="mb-1">
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
      <div class="container px-5">
        <a class="navbar-brand" href="{% url 'home' %}"><span class="fw-bolder text-primary">Colin McFaul</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'resume' %}">Resume</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'projects' %}">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div>
    {% block content %}
      <p>Use this document as a way to quick start any new project.</p>
    {% endblock content %}

  </div>
  <footer class="bg-white py-4 mt-auto">
    <div class="container px-5">
      <div class="row align-items-center justify-content-between flex-column flex-sm-row">
        <div class="col-auto">
          <div class="small m-0">Copyright &copy; Colin McFaul 2024</div>
        </div>
        <div class="col-auto">
          <a class="small" href="#!">Privacy</a>
          <span class="mx-1">&middot;</span>
          <a class="small" href="#!">Terms</a>
          <span class="mx-1">&middot;</span>
          <a class="small" href="{% url 'contact' %}">Contact</a>
        </div>
      </div>
    </div>
  </footer>
  <!-- /container -->
  {% block modal %}
  {% endblock modal %}
<!-- javascript
    ================================================== -->
{# Placed at the top of the document so pages load faster with defer #}
{% block javascript %}

<!-- Vendor dependencies bundled as one file -->
  {% if WEBPACK_ENABLED %}
  {% render_bundle 'vendors' 'js' %}
  {% else %}
  <script src="{% static 'vendors.bundle.js' %}"></script>
  {% endif %}

<!-- place project specific Javascript in this file -->

{% if WEBPACK_ENABLED %}
  {% render_bundle 'main' 'js' %}
  {% else %}
  <script src="{% static 'main.bundle.js' %}"></script>
  {% endif %}

{% endblock javascript %}
  {% block extra_js %}
{% endblock extra_js %}
  </body>
</html>
